{
    "parser": "@babel/eslint-parser",
    "env": {
        "browser": true,
        "es6": true,
        "mocha": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:svelte/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "impliedStrict": true
        },
        "sourceType": "module",
        "requireConfigFile": false
    },
    "plugins": [
    ],
    "ignorePatterns": [
        "public/"
    ],
    "overrides": [
    {
        "files": ["**/*.svelte"],
        "processor": "svelte/svelte"
    }],
    "rules": {
        "quotes": [ "error", "double" ],
        "semi": [ "error", "always" ],
        "indent": [ "error", 4, { "SwitchCase": 1 } ],
        "no-multiple-empty-lines": [ "error", { "max": 1 } ],
        "linebreak-style": [ "error", "unix"],
        "no-console": [ "warn", { "allow": [ "info", "error" ] } ],
        "comma-dangle": ["error", "never"]
    }
}