{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "mocha": true
    },
    "extends": ["eslint:recommended"],
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "impliedStrict": true
        },
        "sourceType": "module"
    },
    "rules": {
        "quotes": [ "error", "double" ],
        "semi": [ "error", "always" ],
        "indent": [ "error", 4, { "SwitchCase": 1 } ],
        "no-multiple-empty-lines": [ "error", { "max": 1 } ],
        "linebreak-style": [ "error", "unix"],
        "no-console": [ "warn", { "allow": [ "info", "error" ] } ],
        "comma-dangle": ["error", "never"]
    }
}